<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfacialanalysisfonction20211122225631.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/277b3d63-4d26-4ece-bcdf-40a09d46a0b7/resourcegroups/API/providers/Microsoft.Web/sites/MyFacialAnalysisFonction20211122225631</ResourceId>
    <UserName>$MyFacialAnalysisFonction20211122225631</UserName>
    <_SavePWD>True</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://myfacialanalysisfonction20211122225631.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>